#app {
  font-family: Helvetica, Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 50px
}

.label {
  font-size: 20px
}

.buttons {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  margin-top: 15px;

  #start_stop,
  #reset {
    width: 80px;
    font-weight: 600;
    font-size: 18px
  }
}

button {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  font-size: 24px;
  background-color: orange;
}

button:hover {
  background-color: lightcyan
}

#container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  border-bottom: 1px dotted black;
  padding-bottom: 30px
}

#timer-label {
  margin-top: 30px;
  padding-top: 20px
}

#time-left {
  font-size: 50px;
  margin: 15px
}

.length {
  width: 12px;
  color: maroon;
  display: flex;
  justify-content: center
}